<tr>
  <td><%= event.event_name  %></td>
  <td><%= event.event_date  %></td>
  <td><%= event.route.name  %></td>
  <td><%= link_to t('helpers.links.show'), event_path(event),  class: 'btn btn-success'  %></td>
  <td><%= link_to t('helpers.links.edit'), edit_event_path(event),  class: 'btn btn-success'  %></td>
  <td><%= link_to t('helpers.links.destroy'), event_path(event), method: :delete, data: {confirm: t('helpers.links.confirm')},  class: 'btn btn-success' %>
</tr>

