<tr>
  <td><%= event.event_name  %></td>
  <td><%= event.event_date  %></td>
  <td><%= event.route.name  %></td>
  <td><%= link_to 'Show', event_path(event),  class: 'btn btn-success'  %></td>
  <td><%= link_to 'Update', edit_event_path(event),  class: 'btn btn-success'  %></td>
  <td><%= link_to 'Delete', event_path(event), method: :delete, data: {confirm: 'Are you sure?'} ,  class: 'btn btn-success' %>
</tr>