<%= form_with(model: @event, local: true) do |f| %>

  <%= render 'common/errors', resource: @event %>

  <div class="field">
    <%= f.label :event_name %>
    <%= f.text_field :event_name%><br>

    <%= f.label :event_description %>
    <%= f.text_area :event_description %><br>

    <%= f.label :event_date %>
    <%= f.date_field :event_date %><br>

    <%= f.label :route_id %>
    <%= f.collection_select(:route_id, Route.all, :id, :name)%>

  </div>
  <div class="actions">
    <%= f.submit t("#{@event.new_record? ? 'helpers.links.new' : 'helpers.links.edit' }")%>
  </div>
<% end %>