
<%= form_with(model: @event, local: true) do |f| %>

  <%= render 'common/errors', resource: @event %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, value: @event.name ||= Faker::FunnyName.name %><br>

    <%= f.label :description %>
    <%= f.text_area :description, value: @event.description ||= Faker::Lorem.sentence %><br>

    <%= f.label :date %>
    <%= f.date_field :date%><br>

    <%= f.label :route_id %>
    <% selected = @event.route_id.present? ? {selected: @event.route_id} : { } %>
    <%= f.collection_select(:route_id, Route.all, :id, :name)%><br>

    <%= f.label :guide_id %>
    <% selected = @event.guide.present? ? {selected: @event.guide.id} : { } %>
    <%= f.collection_select(:guide_id, User.all, :id, :last_name, include_blank: 'Choose guide', **selected )%>

  </div>
  <div class="actions">
    <%= f.submit t("#{@event.new_record? ? 'helpers.links.new' : 'helpers.links.edit' }")%>
  </div>
<% end %>

<%= link_to t('helpers.links.back'), events_path %>
