<tr>
  <td><%= unpublished_event.name  %></td>
  <td><%= unpublished_event.date  %></td>
  <td><%= unpublished_event.route.name  %></td>
  <td><%= link_to t('helpers.links.show'), event_path(unpublished_event),  class: 'btn btn-success'  %></td>
  <td><%= link_to t('helpers.links.edit'), edit_event_path(unpublished_event),  class: 'btn btn-success'  %></td>
  <td><%= link_to t('helpers.links.destroy'), event_path(unpublished_event), method: :delete, data: {confirm: t('helpers.links.confirm')},  class: 'btn btn-success' %>
</tr>

