<div class="row">
  <div class="col-sm-6">
    <div class="row form-group">
      <label class="col-sm-4">
        <%= t('.event_name') %>
      </label>
      <div class="col-sm-8">
        <%= @event.name %>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-4">
        <%= t('.event_description') %>
      </label>
      <div class="col-sm-8">
        <%= @event.description %>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-4">
        <%= t('.event_route') %>
      </label>
      <div class="col-sm-8">
        <%= link_to "#{@event.route.name}",  @event.route %>
      </div>
    </div>
    <div class="row row--buttons">
      <div class="col-sm-12">
        <div>
          <% if current_user == nil %>
            <p> <%= link_to t('devise.authorization.buttons.log_in'), new_user_registration_path %> <%= t('.register_requirement') %> </p>
          <% else %>
            <% if @event.users.include?(current_user) %>
              <%=  link_to  t('.unsubscribe'), unfollow_event_path, method: :post,  data: {confirm: 'Are you sure?'}, class: 'btn btn-info' %>
            <% else %>
              <%=  link_to  t('.subscribe'), follow_event_path, method: :post, class: 'btn btn-success' %>
            <% end %>
          <% end %>
          <%= link_to t('helpers.links.back'), events_path, class: 'btn btn-info' %>
          <%= link_to t('helpers.titles.edit', model: t('activerecord.models.event')), edit_event_path, class: 'btn btn-info' %>
          <% if @event.unpublished? &&  current_user.admin?%>
            <%= form_with(url: update_event_status_event_path, method: :patch, local: true, class: "form--single-btn") do |f| %>
              <%= submit_tag 'Confirm', class: "btn btn-success" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-6">
        <label><%= t('.event_author') %></label>
        <%= link_to @event.creator  do %>
          <div class="pull-left">
            <%= image_tag(@event.creator.avatar, class: "guide-avatar") if @event.creator.avatar.attached? %>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= "#{@event.creator.first_name} #{@event.creator.last_name}" %></h4>
          </div>
        <% end %>
      </div>
      <% unless @event.guide.nil? %>
        <div class="col-sm-6">
        <label><%= t('.event_guide') %></label>
        <%= link_to @event.guide do %>
          <div class="pull-left">
            <%= image_tag(@event.guide.avatar, class: "guide-avatar") if @event.guide.avatar.attached? %>
          </div>
          <div>
            <h4 class="media-heading"><%= "#{@event.guide.first_name} #{@event.guide.last_name}" %></h4>
          </div>
        <% end %>
        </div>
      <% end %>
      <% if current_user %>
        <div class="row">
          <div class="col-sm-12 rating">
            <%= rating_for_user @event, current_user, 'event', half_show: true, star: 5, readonly: true, disable: true, cancel: false%>
            <%= imdb_style_rating_for @event, 'event' %>
            <% if @event.published? && current_user  %>
              <script type="text/javascript">
                document.write(VK.Share.button({title: "Здрасте всем, привет всем! Присоединяйтесь!", image: 'https://ntpk2.ru/sites/default/files/styles/album_one/public/albums/257719_original.jpg?itok=BwSUcqzG' },{type: "round", text: "Share"}));
              </script>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <label class="col-sm-12">
        <%= t('.event_subscribers') %>
      </label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <% @event.users.each do |x|%>
          <%= link_to x do %>
            <%= image_tag(x.avatar, class: "guide-avatar") if x.avatar.attached? %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
