<p>
  <strong> Name of event: </strong>
  <%= @event.event_name %>
</p>
  <strong>Description: </strong>
  <%= @event.event_description %>
</p>
</p>
  <strong>Selected route: </strong>
  <%= link_to "#{@event.route.name}",  @event.route %>

</p>
  <% if current_user == nil %>
    <%= link_to 'You must register to subscribe to this event.', new_user_registration_path %>
  <% else %>
    <% if @event.users.include?(current_user) %>
      <%=  link_to  'Unsubscribe', event_events_user_path(@event.events_users.find_by(user_id: current_user.id)), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
    <% else %>
      <%=  link_to  'Subscribe', "/events/#{@event.id}/events_users", method: :post, class: 'btn btn-success' %>
    <% end %>
  <% end %>

</p>

</p>
<strong>Creator: </strong>
<%= link_to root_path do %>
  <% creator = @event.users.find_by(events_users: {role: EventsUser.roles[:creator]}) %>
    <div class="pull-left">
      <%= image_tag(creator.avatar, style: "width:45px;height:45px;border-radius:100%;object-fit:cover") if creator.avatar.attached? %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= "#{creator.first_name} #{creator.last_name}" %></h4>
    </div>
<% end %>
<p>

<p>
  <strong>Subscribers: </strong>
  <div>
    <% @event.users.each do |x|%>
      <%= link_to root_path do %>
        <%= image_tag(x.avatar, style: "width:60px;height:60px;border-radius:100%;object-fit:cover") if x.avatar.attached? %>
      <% end %>
    <% end %>
  </div>
</p>

<%= link_to t('helpers.links.back'), events_path %>
<%= link_to 'Update', edit_event_path %>

