<p>
  <strong> <%= t('.event_name') %> </strong>
  <%= @event.name %>
</p>
<p>
  <strong><%= t('.event_description') %> </strong>
  <%= @event.description %>
</p>
<p>
  <strong><%= t('.event_route') %> </strong>
  <%= link_to "#{@event.route.name}",  @event.route %>
</p>

<div>
<% if current_user == nil %>
  <p> <%= link_to t('devise.authorization.buttons.log_in'), new_user_registration_path %> <%= t('.register_requirement') %> </p>
  <% else %>
    <% if @event.users.include?(current_user) %>
      <%=  link_to  t('.unsubscribe'), unfollow_event_path, method: :post,  data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
    <% else %>
      <%=  link_to  t('.subscribe'), follow_event_path, method: :post, class: 'btn btn-success' %>
    <% end %>
  <% end %>
</div>
<div>
<strong><%= t('.event_author') %></strong>

<%= link_to @event.creator  do %>
    <div class="pull-left">
      <%= image_tag(@event.creator.avatar, style: "width:45px;height:45px;border-radius:100%;object-fit:cover") if @event.creator.avatar.attached? %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= "#{@event.creator.first_name} #{@event.creator.last_name}" %></h4>
    </div>
<% end %>
</div>


<% unless @event.guide.nil? %>
  <div>
  <strong><%= t('.event_guide') %></strong>
  <%= link_to @event.guide do %>
    <div class="pull-left">
      <%= image_tag(@event.guide.avatar, style: "width:45px;height:45px;border-radius:100%;object-fit:cover") if @event.guide.avatar.attached? %>
    </div>
    <div>
      <h4><%= "#{@event.guide.first_name} #{@event.guide.last_name}" %></h4>
    </div>
  <% end %>
  </div>
<% end %>

<div>
  <strong><%= t('.event_subscribers') %></strong>
  <div>
    <% @event.users.each do |x|%>
      <%= link_to x do %>
        <%= image_tag(x.avatar, style: "width:60px;height:60px;border-radius:100%;object-fit:cover") if x.avatar.attached? %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <% if current_user %>
    <div class="small-2 large-4 columns">
      <%= rating_for_user @event, current_user, 'event', half_show: true, star: 5, readonly: true, disable: true, cancel: false%>
      <%= imdb_style_rating_for @event, 'event' %>
    </div>
  <% end %>
</div>
<%= link_to t('helpers.links.back'), events_path, class: 'btn btn-success' %>
<%= link_to t('helpers.titles.edit', model: t('activerecord.models.event')), edit_event_path, class: 'btn btn-success' %>

<div>
  <% if @event.published? &&  current_user  %>
    <script type="text/javascript">
      document.write(VK.Share.button({title: "Здрасте всем, привет всем! Завтра в полпятого вечера, в 16:30, без тридцати пять балдежная сходка-прогулка! Буду всем мужикам жать их крепкую мужскую руку, а девушек целовать в алые губки", image: 'https://scontent-frt3-1.cdninstagram.com/vp/6b5e100512285d62785d9339531505ca/5E50D422/t51.2885-15/e35/71237206_3663962416954650_3395660364664082151_n.jpg?_nc_ht=scontent-frt3-1.cdninstagram.com&_nc_cat=106' },{type: "round", text: "Share"}));
    </script>
  <% end %>
</div>
<div>
  <% if @event.unpublished? &&  current_user.admin?%>
    <%= form_with(url: update_event_status_event_path, method: :patch, local: true) do |f| %>
      <%= submit_tag 'Confirm' %>
<% end %>
  <% end  %>
</div>


