<li>
  <div class="media">
    <div class="media pull-left">
      <%= image_tag(comment.user.avatar, class: "media-object", style: "width:45px;height:45px;border-radius:100%") if comment.user.avatar.attached? %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= "#{comment.user.first_name} #{comment.user.last_name}" %></h4>
      <span><%= comment.body %></span>
      <% if current_user %>
        <%= form_with(model: [ comment, Comment.new ], local: true) do |f| %>
          <%= f.text_area :body, class: 'form-control', rows: '3'%><br/>
          <%= f.submit t('.reply')  %>
        <% end %>
      <% end %>
    </div>
  </div>
  <ul>
    <%= render partial: 'comments/comment', collection: comment.comments.includes(:user) %>
  </ul>
</li>



