<%= form_with(model: @route, local: true, html: { multipart: true }) do |f| %>

<%= render 'common/errors', resource: @route %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :route_type %>
    <%= f.select :route_type, options_for_select(Route.route_types.keys.to_a) %>

    <%= f.label :route_image_url %>
    <%= f.text_field :route_image_url %>

    <%= f.collection_check_boxes(:point_ids, Point.all.order('id DESC'), :id, :name) do |b| %>
          <div class="input-group-text">
            <%= b.check_box %>
            <%= b.label points: 'form-control text-center text-uppercase' %>
          </div>
    <% end %>

  </div>
  <div class="actions">
    <%= f.submit "#{@route.new_record? ? 'Create' : 'Update' }"%>
  </div>
<% end %>