<div class="tabbable">
  <ul class="nav nav-tabs padding-18">
    <li class="active">
      <a data-toggle="tab" href="#home">
        <i class="green ace-icon fa fa-user bigger-120"></i>
        <%= t('helpers.titles.published_route') %>
      </a>
    </li>

    <li>
      <% if current_user.present?  %>
        <a data-toggle="tab" href="#friends">
          <i class="blue ace-icon fa fa-users bigger-120"></i>
          <%= t('helpers.titles.my_routes') %>
        </a>
      <% end %>
    </li>

    <li>
      <% if current_user.present? && current_user.admin?  %>
        <a data-toggle="tab" href="#unpublished_events">
          <i class="orange ace-icon fa fa-rss bigger-120"></i>
          <%= t('helpers.titles.unpublished_route') %>
        </a>
      <% end %>
    </li>

    <li style="float:right">
      <%= form_tag routes_path, method: :get do %>
        <%= text_field_tag :search, params[:search] %>
        <%= select_tag :category, options_for_select( Route.movement_types.keys.to_a), include_blank: t('helpers.titles.blank_movement_type')%>
        <%= submit_tag t('helpers.links.search') %>
      <% end %>
    </li>
  </ul>

  <div class="tab-content no-border padding-24">
    <div id="home" class="tab-pane in active">
      <table class='table table-striped' >
        <thead>
        <tr>
          <th><%= t('.route_name') %></th>
          <th><%= t('.route_type') %></th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <%= render(partial: 'route', collection: @routes.published) %>
        </tbody>
      </table>
    </div>

    <div id="friends" class="tab-pane">
      <table class='table table-striped'>
        <thead>
        <tr>
          <th><%= t('.route_name') %></th>
          <th><%= t('.route_type') %></th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <%= render(partial: 'route', collection: @routes.where(user: current_user)) %>
        </tbody>
      </table>
    </div>

    <div id="unpublished_events" class="tab-pane">
      <table class='table table-striped' >
        <thead>
        <tr>
          <th><%= t('.route_name') %></th>
          <th><%= t('.route_type') %></th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% if current_user && current_user.admin?%>
          <%= render(partial: 'route', collection: @routes.unpublished) %>
        <% end %>
        </tbody>
      </table>
      <div class="space-12"></div>

      <div class="center">
        <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
          <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
          <span class="bigger-110">View more activities</span>

          <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<%= link_to t('helpers.titles.new', model: t('activerecord.models.route')), new_route_path, class: 'btn btn-success'  %>
