<h1><%= t('.title') %></h1>


<%= form_tag routes_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= select_tag :category, options_for_select( Route.movement_types.keys.to_a), include_blank: 'Choose route type'%>
  <%= submit_tag 'Search' %>
<% end %>

<table class='table table-striped' >
  <thead>
  <tr>
    <th><%= t('.route_name') %></th>
    <th><%= t('.route_type') %></th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
    <% if current_user && current_user.admin?%>
      <h2>Unpublished points</h2>
      <%= render(partial: 'route', collection: @routes.unpublished) %>
    <% end %>
  </tbody>
</table>

<table class='table table-striped' >
  <thead>
  <tr>
    <th><%= t('.route_name') %></th>
    <th><%= t('.route_type') %></th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
    <h2>Published</h2>
    <%= render(partial: 'route', collection: @routes.published) %>
  </tbody>
</table>


<br>

<%= link_to t('helpers.titles.new', model: t('activerecord.models.route')), new_route_path, class: 'btn btn-success'  %>
