<h1><%= t('.title') %></h1>

<table class='table table-striped' >
  <thead>
  <tr>
    <th><%= t('.route_name') %></th>
    <th><%= t('.route_type') %></th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @routes %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.titles.new', model: t('activerecord.models.route')), new_route_path, class: 'btn btn-success'  %>
