<p>
  <strong><%= t('.route_name') %></strong>
  <%= @route.name %>
</p>

<p>
  <strong><%= t('.route_type') %></strong>
  <%= @route.route_type %>
</p>

<p>
  <strong><%= t('.route_points') %></strong>
  <% @route.points.each do |x|%>
  <div>
    <%= link_to "#{x.name}", x %>
  </div>
<% end %>
</p>
<p>
  <strong><%= t('.route_author')%></strong>
  <%= @route.user.first_name %>
  <%= @route.user.last_name %>
</p>

<div>
  <% @route.route_images.each do |image| %>
  <%= image_tag(image, style: "width:150px;height:160px;object-fit:cover") if @route.route_images.attached? %>
  <% end %>
</div>
<div>
  <%= render 'comments/form', commentable: @route %>
</div>
<ul>
  <%= render(partial: 'comments/comment', collection: @route.comments) %>
</ul>

<div class="row">
  <% if current_user %>
    <div class="small-2 large-4 columns">
      <%= rating_for_user @route, current_user, 'route', half_show: true, star: 5, readonly: true, disable: true, cancel: false%>
      <%= imdb_style_rating_for @route, 'route' %>
    </div>
  <% end %>
</div>

<%= link_to t('helpers.links.back'), routes_path, class: 'btn btn-success'%>
<%= link_to  t('helpers.titles.edit', model: t('activerecord.models.route')), edit_route_path, class: 'btn btn-success' %>
