<p>
  <strong> Route name: </strong>
  <%= @route.name %>
</p>

<p>
  <strong> Type: </strong>
  <%= @route.route_type %>
</p>

<p>
  <strong>Points of route:</strong>
  <% @route.points.each do |x|%>
  <div>
    <%= link_to "#{x.name}", x %>
  </div>
<% end %>
</p>
<p>
  <strong> Creator: </strong>
  <%= @route.user.first_name %>
  <%= @route.user.last_name %>
</p>

<%= render 'comments/comments', commentable: @route  %>

<%= render 'comments/form', commentable: @route %>

<%= link_to 'Back', routes_path %>

<%= link_to 'Update', edit_route_path %>


