<%= form_with(model: @point, local: true) do |f| %>
  <%= render 'common/errors', resource: @point %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :description %>
    <%= f.text_area :description %><br>

    <%= f.label :coordinates %>
    <%= f.text_field :coordinates %><br>

    <%= f.label :image %>
    <%= f.text_field :image %><br>

    <%= f.label :tags %>
    <%= f.text_area :tags %><br>

    <%= f.label :image %>
    <%= f.file_field :images, multiple: true %>

  </div>
  <div class="actions">
    <%= f.submit t("#{@point.new_record? ? 'helpers.links.new' : 'helpers.links.edit' }")%>
  </div>
<% end %>
