<%= form_with(model: @point, local: true) do |f| %>
  <%= render 'common/errors', resource: @point %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :coordinates %>
    <%= f.text_field :coordinates %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :tags %>
    <%= f.text_field :tags %>


    <%= f.file_field :images, multiple: true %>

  </div>
  <div class="actions">
    <%= f.submit "#{@point.new_record? ? 'Create' : 'Update'}"%>
  </div>
<% end %>
