<tr>
  <td><%= point.name  %></td>
  <td><%= point.coordinates  %></td>
  <td><%= point.tags  %></td>
  <td><%= link_to t('helpers.links.show'), point_path(point),  class: 'btn btn-success'  %></td>
  <td><%= link_to t('helpers.links.edit'), edit_point_path(point),  class: 'btn btn-success'  %></td>
  <td><%= link_to t('helpers.links.destroy'), point_path(point), method: :delete, data: {confirm: t('helpers.links.confirm')} ,  class: 'btn btn-success' %>
</tr>

