<tr>
  <td><%= unpublished_point.name  %></td>
  <td><%= "#{unpublished_point.latitude},  #{unpublished_point.longitude}" %></td>
  <td><%= link_to '', point_path(unpublished_point), class: 'icon icon--show', title: t('helpers.links.show') %></td>
  <td><%= link_to '', edit_point_path(unpublished_point), class: 'icon icon--edit', title: t('helpers.links.edit') %></td>
  <td><%= link_to '', point_path(unpublished_point), method: :delete, data: {confirm: t('helpers.links.confirm')} ,  class: 'icon icon--delete', title: t('helpers.links.destroy') %>
</tr>
