<tr>
  <td><%= unpublished_point.name  %></td>
  <td><%= "#{unpublished_point.latitude},  #{unpublished_point.longitude}" %></td>
  <td><%= unpublished_point.tags  %></td>
  <td><%= link_to t('helpers.links.show'), point_path(unpublished_point),  class: 'btn btn-success'  %></td>
  <td><%= link_to t('helpers.links.edit'), edit_point_path(unpublished_point),  class: 'btn btn-success' %></td>
  <td><%= link_to t('helpers.links.destroy'), point_path(unpublished_point), method: :delete, data: {confirm: t('helpers.links.confirm')} ,  class: 'btn btn-success' %>
</tr>
