<h1><%= t('.title')%></h1>

<table class='table table-striped' >
  <thead>
  <tr>
    <th><%= t('.point_name')%></th>
    <th><%= t('.point_coordinate')%></th>
    <th><%= t('.point_tags')%></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @points %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.titles.new', model: t('activerecord.models.point')), new_point_path, class: 'btn btn-success' %>

