<h1><%= t('.title')%></h1>


<%= form_tag points_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search' %>
<% end %>

<% if current_user && current_user.admin?%>
    <h2>Unpublished points</h2>
    <%= render('points_list', point_set: @points.unpublished, status: 'unpublished_point') %>
  <% end %>
<!--  <h2>My points</h2>-->
  <%#= render('points_list', point_set: current_user.points, status: 'unpublished_point') %>
<%# end %>

<h2>Published</h2>
<%= render('points_list', point_set: @points.published, status: 'published_point') %>

<%= link_to t('helpers.titles.new', model: t('activerecord.models.point')), new_point_path, class: 'btn btn-success' %>

