<h1><%= t('.title')%></h1>


<%= form_tag points_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search' %>
<% end %>




<% if current_user %>
  <%if current_user.admin?%>
    <p>Unpublished points</p>
    <%= render('points_list', point_set: Point.unpublished, status: 'unpublished_point') %>
  <% end %>
  <h2>My points</h2>
  <%= render('points_list', point_set: current_user.points, status: 'unpublished_point') %>
<% end %>

<h2>Published</h2>
<%= render('points_list', point_set: Point.published, status: 'published_point') %>

<%= link_to t('helpers.titles.new', model: t('activerecord.models.point')), new_point_path, class: 'btn btn-success' %>

<%= link_to 'Search',   new_search_path, class: 'btn btn-success' %>
<%#= link_to 'Advanced search', new_search_path %>