<p>
  <strong> Point name: </strong>
  <%= @point.name %>
</p>
<p>
  <%= @point.description %>
</p>

<ul>
  <%= render(partial: 'comments/comment', collection: @point.comments) %>
</ul>

<div>
  <div>
    <% @point.images.each do |x| %>
      <%= image_tag(x) if @point.images.attached? %>
    <% end %>
  </div>
  <div>
    <%= render 'comments/form', commentable: @point %>
  </div>
</div>
<%= link_to 'Back', points_path %>