<p>
  <strong> Point name: </strong>
  <%= @point.name %>
</p>
<p>
  <%= @point.description %>
</p>
<div>
  <div>
    <% @point.images.each do |x| %>
      <%= image_tag(x) if @point.images.attached? %>
    <% end %>
  </div>
  <ul>
    <%= render(partial: 'comments/comment', collection: @point.comments) %>
  </ul>
  <div>
    <%= render 'comments/form', commentable: @point %>
  </div>
</div>
<%= link_to t('helpers.links.back'), points_path %>
























