<p>
  <strong><%= t('.point_name') %></strong>
  <%= @point.name %>
</p>
<p>
  <%= @point.description %>
</p>
<div>
  <div>
    <% @point.images.each do |image| %>
      <%= image_tag(image, style: "width:150px;height:160px;object-fit:cover") if @point.images.attached? %>
    <% end %>
  </div>
  <div>
    <%= render 'comments/form', commentable: @point %>
  </div>
  <ul>
    <%= render(partial: 'comments/comment', collection: @point.comments) %>
  </ul>
</div>
<%= link_to t('helpers.links.back'), points_path %>


<div>
  <% if @point.unpublished? &&  current_user.admin?%>
    <%= submit_tag 'Confirm' %>
  <% end %>
</div>