<p>
  <strong><%= t('.point_name') %></strong>
  <%= @point.name %>
</p>
<p>
  <%= @point.description %>
</p>
<div>
  <div>
    <% @point.images.each do |image| %>
      <%= image_tag(image, style: "width:150px;height:160px;object-fit:cover") if @point.images.attached? %>
    <% end %>
  </div>
  <div>
    <%= render 'comments/form', commentable: @point %>
  </div>
  <ul>
    <%= render(partial: 'comments/comment', collection: @point.comments) %>
  </ul>
</div>
<div class="row">
  <% if current_user %>
    <div class="small-2 large-4 columns">
      <%= rating_for_user @point, current_user, 'name', half_show: true, star: 5, readonly: true, disable: true, cancel: false%>
      <%= imdb_style_rating_for @point, 'name' %>
    </div>
  <% end %>
</div>
<%= link_to t('helpers.links.back'), points_path %>














