<!DOCTYPE html>
<html>
  <head>
    <title>Routes303</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
  <div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div>
  <% if user_signed_in? %>
<!--      <div class="media">-->
<!--        <div class="media-left">-->
          <%#= image_tag(current_user.avatar) if current_user.avatar.attached?, class: "media-object", style: "width:45px" %>
<!--          <img src="img_avatar1.png" class="media-object" style="width:45px">-->
<!--        </div>-->
<!--        <div class="media-body">-->
<!--          <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>-->
<!--        </div>-->
<!--      </div>-->
      <%= link_to 'Exit', destroy_user_session_path, method: :delete,  class: 'btn btn-link'  %>
    <%= link_to 'Edit', edit_user_registration_path(current_user), class: 'btn btn-link'  %>
    <p> Current user: <%= "#{current_user.first_name} #{current_user.last_name}" %></p>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path,  class: 'btn btn-link' %>
  <% end %>
  </div>

  <%= yield %>

  <p>Copyright © 2019 Grabelnikov Gordey</p>
  </div>
  </body>
</html>
