<div id="user-profile-2" class="user-profile">
  <div class="tabbable">
    <div class="tab-content no-border padding-24">
      <div id="home" class="tab-pane in active">
        <div class="row">
          <div class="col-xs-12 col-sm-3 center">
							<span class="profile-picture">
                <%= image_tag(@user.avatar, class: "editable img-responsive", alt: " Avatar", id: "avatar2" ) if @user.avatar.attached? %>
							</span>
          </div><!-- /.col -->

          <div class="col-xs-12 col-sm-9">
            <h4 class="blue">
              <span class="middle"><%=  "#{@user.first_name} #{@user.last_name}"  %></span>

              <span class="label label-purple arrowed-in-right">
									<i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
									online
								</span>
            </h4>

            <div class="profile-user-info">

              <div class="profile-info-row">
                <div class="profile-info-name"> <%= t('.birthday')%> </div>

                <div class="profile-info-value">
                  <span><%= @user.birthday %></span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> <%= t('.joined')%> </div>

                <div class="profile-info-value">
                  <span><%= @user.created_at %></span>
                </div>
              </div>

            </div>

            <div class="hr hr-8 dotted"></div>

            <div class="profile-user-info">
              <div class="profile-info-row">
                <div class="profile-info-name"> <%= t('.mail')%> </div>

                <div class="profile-info-value">
                  <a href="#" target="_blank"><%= @user.email%> </a>
                </div>
              </div>

            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="space-20"></div>

        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="profile-feed row">
              <div class="col-sm-6">
                <div class="profile-activity clearfix">
                  <% @user.events.published.each do |event| %>
                    <div>
                      <p><%= t('helpers.titles.message1') %>"<%= link_to event.name, event, class: "user"%>".
                        <%= t('helpers.titles.message2') %> <%= event.role(@user)%>
                      </p>
                    </div>
                  <% end %>
                </div>
              </div><!-- /.col -->

              <div class="col-sm-6">
                <div class="profile-activity clearfix">

                </div>
              </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="space-12"></div>

            <div class="center">
              <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
                <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
                <span class="bigger-110">View more activities</span>

                <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
              </button>
            </div>




          </div>
        </div>
      </div><!-- /#home -->
    </div>
  </div>
</div>


